@()
@*
* Build information.
* TODO: additional headers for alternate representation? (json)
*@@pageTemplate(
    buildinfo.BuildInfo.name + " buildInfo",
    buildinfo.BuildInfo.name + " build information",
    "Cory Prowse"
) {
<dl>
    <dt>Name</dt>
    <dd>@buildinfo.BuildInfo.name</dd>

    <dt>Version</dt>
    <dd>@buildinfo.BuildInfo.version</dd>

    <dt>gitChecksum</dt>
    <dd>@buildinfo.BuildInfo.gitChecksum</dd>

    <dt>buildInstant</dt>
    <dd>@views.ViewUtils.timeElement(java.time.Instant.parse(buildinfo.BuildInfo.buildInstant).atZone(java.time.ZoneId.of("GMT")))</dd>
</dl>
}
