@()
@*
* Build information.
* TODO: additional headers for alternate representation? (json)
*@@pageTemplate(
    prowse.domain.BuildInfo.name + " buildInfo",
    prowse.domain.BuildInfo.name + " build information",
    prowse.domain.User("cosmic", "Cory", "Prowse", "cory@prowse.com", "https://plus.google.com/+CoryProwse")
) {
    <dl>
        <dt>Name</dt>
        <dd>@prowse.domain.BuildInfo.name</dd>

        <dt>Version</dt>
        <dd>@prowse.domain.BuildInfo.version</dd>

        <dt>gitChecksum</dt>
        <dd>@prowse.domain.BuildInfo.gitChecksum</dd>

        <dt>buildInstant</dt>
        <dd>@views.ViewUtils.timeElement(java.time.Instant.parse(prowse.domain.BuildInfo.buildInstant).atZone(java.time.ZoneId.of("GMT")))</dd>
    </dl>
}
